#body{
  margin:10px;
  margin-right: -555px;
}
#no{
  height: 60px;
}
.lokem{
  margin-left: 100px;
}
#Final{
  margin-bottom: 40px;
}
#footer{
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 10px;
}
#iko{
  height: 100px;
}
