#body{
  margin:10px;
  margin-right: -555px;
  margin-left: 90px;
}

.lokem{
  margin:0 37%;
}
#qwertylol{
  width: 236.63px;
  height: 150px;
}
#Final{
  margin-bottom: 40px;
}
#footer{
  margin-left: -100px;
  margin-right: -40px;
  height: 100px;
}
#iko{
  height: 100px;
}
#Sum{
  margin-right: 300px;
}
#Videos_enlaces{
  margin-left: 30px;
  justify-content: center;
}
.soli{
  margin-top: 50px;
}
.container{
  width: 300px;
  height: 550px;
  padding: 10px;
}
#Experences_image1{
  width: 230px;
  height: 230px;
  margin-right: 100px;
  padding: 0;
  margin-left: 35px;
}
.Irver{
  width: 120px;
  height: 30px;
}
#diferente{
  margin-left: 83px;
  margin-top: 10px;
}
#Experences_image2{
  width: 300px;
  height: 200px;
  margin-top: 50px;
}
#polo{
  margin-left: 80px;
  margin-top: 35px;
}
header a{
  color: #ff2315;
  background: #ff886d;
}
